@model Slider
@{
    ViewData["Title"] = "Detail";
}



<div> <img src="~/img/slider/@Model.Image" width="400px" style="400px" object-fit:cover /> </div>
<h2>@Model.Title</h2>
<h4>@Model.Subtitle</h4>
<a asp-action="Index" class="btn btn-secondary  text-white">Go Back</a>


     

